<%- include('partials/header'); -%>
<link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
        
  
<div class="landing-header">
    <h1>Welcome to Yelpcamp!</h1>
    <hr>
    <p><a href="/campgrounds" class="btn btn-success btn-large">search for all campgrounds</a></p>
</div>
<ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>





<%- include('partials/footer'); -%>